
















@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}
.myspan{
  font-family: 'Grand Hotel', cursive;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 70px;
   color: black !important;

}
.myspan:hover{
  color:  #0083AF !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
  font-weight: bold;
  font-size: x-large;
 /* padding-bottom: 10px; */
 
}

.mycard{
  margin-top: 30px;

}
.auth-card{
  padding: 50px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 20px;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  /* padding-top: 20px; */
  
}
.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}





.bno{
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  width: 150px;
  display: inline-block;
  background-color: #ffffff;
  color: #000129 !important;
  border-radius: 50px;
}

.bno:hover{
  background: linear-gradient(111.36deg,#FCAB87 22.32%,#FF3CBF 44.79%,#8482FF 66.57%,#50ECB1 89.74%)!important;
  color: #ffffff!important;
}

.h5{
  
  margin: 0px;
  padding: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}
.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;

}



.input-field input[type=text]:focus {
  border-bottom: 1px solid #4c59c8  !important;
  box-shadow: 0 1px 0 0 #4c59c8 !important;
}


.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto ;
}

.gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  margin: 20px auto;
}
body {
  background-attachment: fixed!important;
  background: linear-gradient(111.36deg,#FCAB87 22.32%,#FF3CBF 44.79%,#8482FF 66.57%,#50ECB1 89.74%);
}
nav {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 18px;
  padding-right: 98px;
  width: 30%;
  top: 0;
  height: auto;
  background-color: #05182b!important;
position: absolute;
position: fixed;
border-radius: 0px 0px 10px 0px;

}
.auth-card {
  padding: 60px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #ffffff;
 
}

.mycard {
  position: absolute;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}

h3.LOGIN {
  background: linear-gradient(111.36deg,#FCAB87 22.32%,#FF3CBF 44.79%,#8482FF 66.57%,#50ECB1 89.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  FONT-SIZE: 31PX;
  FONT-WEIGHT: 600;
  FONT-FAMILY: SANS-SERIF;
}
img {
  width: 250px;
}
ul#nav-mobile {
  align-items: center;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  
}
.white {
  background-color: #05182b!important;
}
nav .nav-wrapper {
  display: flex;
  position: relative;
  height: 100%;
 
}
.home {
  margin-left: 30%;
}
nav ul a {
  text-align: -webkit-center;
  color: #fff !important;
  background: linear-gradient(133deg,rgb(252, 171, 135) 0%,rgb(255, 60, 191) 33%,rgb(132, 130, 255) 66%,rgb(80, 236, 177) 100%) !important;
  width: 260px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  font-family: inherit;
  letter-spacing: .4px;
}
nav ul a:hover {
  text-align: -webkit-center;
  color: #fff !important;
  background: Linear-gradient(133deg,rgba(80,236,177,1) 0%,rgba(252,171,135,1) 33%,rgba(255,60,191,1) 66%,rgba(132,130,255,1) 100%)!important;

  width: 260px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  font-family: inherit;
  letter-spacing: .4px;
}
nav .brand-logo {
  margin-left: 70px;
}
.blue.darken-1 {
  background: linear-gradient(133deg,rgba(252,171,135,1) 0%,rgba(255,60,191,1) 33%,rgba(132,130,255,1) 66%,rgba(80,236,177,1) 100%);
  
  BORDER-RADIUS: 50PX;
  /* PADDING: 10PX 20PX 10PX 20PX; */
  WIDTH: 350PX;
  HEIGHT: 50PX;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  
  margin-bottom: 20px;
}
.blue.darken-1:hover {
  background: Linear-gradient(133deg,rgba(80,236,177,1) 0%,rgba(252,171,135,1) 33%,rgba(255,60,191,1) 66%,rgba(132,130,255,1) 100%);
  BORDER-RADIUS: 50PX;
  WIDTH: 350PX;
 height: 50px!important;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
 
  margin-bottom: 20px;
}
input[type="text"] {
  margin-bottom: 23px!important;
  color: #000129!important;
}
input:placeholder {
  color:#000129!important;
}
input[type="text"] {
  text-transform: capitalize;
  color: #000000!important;
}
input[type="password"] {
  margin-bottom: 30px!important;
  text-transform: capitalize;
  color: #000000!important;
}


.file-field.input-field {
  margin-top: 0px;
}
.file-field.input-field {
  margin-left: 15px;
  margin-top: 0px;

}
h5 a {
  font-size: 20px;
  font-weight: 500;
}
.card.input-filed {
  width: 70%;
  margin-left: 48%!important;
  margin-top: 9%!important;
  border-radius: 5px;
  padding: 50px!important;
  
}
::placeholder {
  background: linear-gradient(111.36deg,#FCAB87 22.32%,#FF3CBF 44.79%,#8482FF 66.57%,#50ECB1 89.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  FONT-SIZE: 15PX;
  FONT-WEIGHT: 600;
  FONT-FAMILY: SANS-SERIF;
}
.prp {
  
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  
}
.prp1 {
  margin-top: 150px!important;
  margin-left: 698px!important;
  background-color: #ffffff8f;
  border: 1px sloid #ffffff!important;
  border-color: #ffffff!important;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  /* padding: 50px; */
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 0px!important;
}

h4 {
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(111.36deg,#000129 22.32%,#FF3CBF 44.79%,#05182b 66.57%,#50ECB1 89.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img {
  margin-top: -115px;
}
img.item {
  margin-top: 3px;
}

h5 {
  color: #000000!important;
}
.h5 a {

  color: #000000!important;
}
a {
  color: #000000!important;
}
.card .card-image {
  margin-top: 115px;
  z-index: 0;
  position: relative;
}